<div class="table">
  <table>
    <thead>
      <tr>
        <%= raw theaders(thead) %>
      </tr>
    </thead>
    <tbody>
        <%= raw tbody(rows, columns) %>
    </tbody>
  </table>
</div>

<%= render "reports/pagination", :total => total, :current => current %>